div(id="chat").col-md-5.chat.bg-primary.p-3
    .container
        .chat_users-online.row
            #online Онлайн: 0
        .chat_view
        .chat_form.row
            form#chat_form.container
                .row
                    .col-sm-8
                        textarea(placeholder="Ваше сообщение", name="message").form-control
                    .col-sm
                        input(type="submit").btn.btn-secondary
