div(id="profile").col-md-3.profile.bg-secondary.p-3.text-center
    div(data-profile="id@" + id).profile_id
        h6.text-white="Ваш ID:" + id

    div(data-profile="info@" + first_name + " " + last_name).profile_info
        p.text-white=first_name + " " + last_name

    div(data-profile="image@" + photo_big).profile_image
        a(href="https://vk.com/id" + id, target="_blank")
            img(src=photo_big, width="100").border.rounded-circle

    div.profile_exit-button
        a(href=exitURI).btn.btn-danger Выход