extends layout

block content
  if !isAuth
      .container.text-center
          h1.text-white Добро пожаловать в чат ВКонтакте!
          a(href=VKauth).btn.btn-info.btn-lg ВОЙТИ
  else
      .container
          .row
              include profile/index
              include chat/index


      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js")
      script(src='javascripts/app.js')