doctype html
html
  - var Title = (first_name) ? first_name + " " + last_name : "Чат ВКонтакте"
  head
    title=Title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')

    meta(charset="UTF-8")
    meta(name="viewport", content="width=480")

    link(rel='shortcut icon', href=(photo_big||'icon.png'))
  body
      block content