body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #4a76a8!important;
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

.chat_view-message {
  margin: 10px 0;
}

#chat_form input,
#chat_form textarea {
  width: 100%;
  height: 100%;
  display: block;
}

.chat_view {
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat_view::-webkit-scrollbar {
  width: 5px;
}

.chat_view::-webkit-scrollbar-thumb {
  background: #333;
  width: 5px;
}

.profile_exit-button {
  margin-top: 20px;
}

.chat_view-message p {
  margin-bottom: 5px;
}

#online {
  color: lime;
  font-size: 16px;
  font-weight: 900;
  text-shadow: 0px 0px 10px lime;
  position: relative;
}

#online:before {
  width: 15px;
  height: 15px;
  background: lime;
  box-shadow: 0px 0px 10px lime;
  content: '';
  position: absolute;
  left: -23px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
}